body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #060427;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: 'Eczar';
}

.nav-links {
    list-style: none;
    display: flex;
}



.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}



.nav-links a:hover {
    color: #ff9900;
    transform: translateY(-50px);

}



.rotate {
    transform: rotate(360deg);
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.products :hover{
    background-color: #ffffff;
    transform: translateY(-5px);
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    border-radius: 15px;
}

.product img {
    max-width: 100%;
}

.price {
    font-weight: bold;
    color: #f57224;
}

.buy-button {
    background-color: #f57224;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #c33e00;
}

.img{
    width: 200px;
    height: 400px;
}

.products2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}
.section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.text-container {
    flex: 1;
    padding-right: 30px;
}

.text {
    font-size: 70px;
    line-height: 1.6;
    font-family: 'Roboto';
    font-weight: bold;
    color: #200747;
    font-weight: 10000;
}

.image-container {
    flex: 1;
    text-align: right;
}

.image {
    max-width: 600px;
    height: 600px;
    position: relative;
    right: 300px;
}





.menu-button {
    display: inline-block;
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
    color: black;
}

.hidden {
    display: none;
    color: black;
    font-size: 10px;

}

#menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    color: black;

}
